
  body {
    background-color: #f2d5a9;
  }

  hr {
    width: 20%;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: gray;
  }
  h3{
    color: red;
  }
